<div class="container border-top border-light pt-3 pb-2 bop px-0">
	<div class="d-flex">
		<div class="d-none d-md-block me-auto fs07r copyright">
			<span class="text-secondary">&copy;</span>
			<span class="text-secondary bet">2022</span>
			<span class="text-white ms-1 bet">cindalogikagrafia, All Right Reserved.</span>
		</div>
		<div class="ms-auto me-auto me-md-0">
			<ul class="p-0">
				<li class="d-inline mx-3">
					<a href="#">
						<img src="{{base_url('assets/images/socials/facebook.png')}}" class="social"/>
					</a>
				</li>
				<li class="d-inline mx-3">
					<a href="#">
						<img src="{{base_url('assets/images/socials/instagram.png')}}" class="social"/>
					</a>
				</li>
				<li class="d-inline mx-3">
					<a href="#">
						<img src="{{base_url('assets/images/socials/linkedin.png')}}" class="social"/>
					</a>
				</li>
				<li class="d-inline mx-3">
					<a href="#">
						<img src="{{base_url('assets/images/socials/twitter.png')}}" class="social"/>
					</a>
				</li>
				<li class="d-inline ms-3 me-3 me-md-0">
					<a href="#">
						<img src="{{base_url('assets/images/socials/youtube.png')}}" class="social"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
